<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context.xsd"
	   >
	   
	   <!-- the component(bean) scan, scans the given package for annotations -->
	   <!--  @Component - any POJO(bean)
	         @Service - business logic layer
	         @Repository - tier where we interact with the db.-->
	   <context:annotation-config></context:annotation-config>
	   <context:component-scan base-package="com.pluralsight"/>
</beans>